{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Cadastrar categorias</title>
        <link href="{% static 'css/crud/cadastrar_pessoas.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>
        <h1>Cadastrar nova categoria</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit">Cadastrar</button>
        </form>

        <a href="{% url 'listar_categorias' %}">Voltar</a>
    </body>
</html>