{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Detalhes da Categoria</title>
    <link href="{% static 'css/crud/detalhe_pessoas.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class = "corpo">
        <div class = "meioTela">
            <h1>Detalhes da Categoria</h1>

            <table style="margin-bottom: 15px">
                <tbody>
                    <tr>
                        <td class="infoPessoa"><strong>Nome:</strong></td>
                        <td class="dados">{{ object.nome }}</td>
                    </tr>
                    <tr>
                        <td class="infoPessoa"><strong>Descrição:</strong></td>
                        <td class="dados">{{ object.descricao }}</td>
                    </tr>
                </tbody>
            </table>

            <div style="margin-bottom: 10px">
                <a href="{% url 'listar_categorias'  %}" class="voltar"><i class="bi bi-arrow-return-left"></i></a>
                <a href="{% url 'listar_categorias' %}" class="editar"><i class="bi bi-pencil-fill"></i></a>
            </div>
        </div>
    </div>
</body>
</html>