<!DOCTYPE html>
<html>
<head>
    <title>Lista de Categorias</title>
</head>
<body>
    <h1>Categorias Cadastradas</h1>

    <div><a href="{% url 'categoria_despesas' %}">Cadastrar Categoria</a> </div>
    
    <div><a href="{% url 'cadastrar_categoria' %}">Cadastrar Categoria</a> </div>

    <div><a href="{% url 'cadastrar_categoria' %}">Cadastrar Categoria</a> </div>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in object_list %}
                <tr>
                    <td>{{ categoria.nome }}</td>
                    <td>{{ categoria.descricao }}</td>
                    <td>
                        <a href="{% url 'editar_categoria' categoria.id %}">Editar</a> 
                    </td>
                    <td>
                        <a href="{% url 'detalhe_categoria' categoria.id %}">Visualizar</a> 
                    </td>

                    <td>
                        <a href="{% url 'deletar_categoria' categoria.id %}">Deletar</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>