body{
    background-image: linear-gradient(to bottom,rgb(102, 8, 164) ,rgb(19, 3, 34));
    background-attachment:fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

div.novaPessoa{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}


div.cadastraNovaPessoa{
    display: block;
    width: 32vw;
    text-align: center;
    background-color: rgba(177, 152, 194, 0.176);
    border-radius: 20px;
}

label{
    display: block;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}
input, select{
    border-radius: 20px;
    text-align: center;
    width: 25vw;
    height: 22px;
    border: none;
    background-color: rgba(177, 152, 194, 0.3);
    transition: 0.3s;
}  

input{
    margin-bottom: 10px;
}
textarea{
    height: 50px;
    width: 25vw;
    border-radius: 10px;
    text-align: center;
    border: none;
    resize: none;
    background-color: rgba(177, 152, 194, 0.3);
    transition: 0.3s;
}

select:active, input:active, textarea:active{
    opacity: 0.7;
}

a, button{
    font-size: 25px;
    margin: 0px auto 10px auto;
    color: rgb(26, 11, 39);
    font-weight: bold;
    transition: 0.3s;
}

a{
    margin-right: 30px;
}
button{
    margin-left: 30px;
    background-color: transparent;
    border: none;
}

a:hover, button:hover{
    color: rgb(235, 235, 235);
    cursor: pointer;
    opacity: 0.5;
}