body{
    background: black;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

div.corpo{
    color: rgba(235, 235, 235,0.7);
    margin-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
    background-color: #6608A4;
    width: 80vw;
    border-radius: 20px;
    padding-bottom: 15px;
}

div.corpo h1{
    padding: 10px;
    margin: 0;
}

table{
    width: 80vw;
}



/*Nome das colunas*/
thead th{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}



/*Infos do Banco de Dados*/
tbody tr{
    color: rgba(235, 235, 235,0.7);
    transition: 0.3s;
    border-radius: 10px;
}
tbody tr:hover{
    background-color:rgba(218, 165, 32, 0.1);
    cursor: default;
}

tbody tr td{
    color: rgba(235, 235, 235,0.7);
    width: 100vw;
}
tbody tr td:hover{
    color: #DAA520;
    
}



/*Botões de ações*/
tbody  a i{
    color: rgba(235, 235, 235,0.7);
    font-size: 18px;
    padding: 5px;
    transition: 0.3s;
}
tbody a i:hover{
    color: #DAA520;
    opacity: 0.5;
}



/*Botão de cadastrar pessoa*/
div.plus{
    background-color: #6608A4;
    border-radius: 200px;
    margin-bottom: 15px;
    text-align: center;
    transition: 0.3s;
    margin-top: 15px;
    height: 45px;
    width: 45px;
}
div.plus a i{
    color: rgba(235, 235, 235,0.7);
    font-size: 40px;
    transition: 0.3s;
}

div.plus:active{
    opacity: 0.7;
}
div.plus a i:hover{
    color: #DAA520;
    opacity: 0.5;
    cursor: pointer;
}
